<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.2//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <mappers>  
        <!-- <mapper resource="org/hu/data/dao/UserDao.xml"/>  -->
        <mapper class="org.hu.data.dao.AnnocationUserDao" />  
    </mappers>  
</configuration>