<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd   
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-4.2.xsd   
    http://www.springframework.org/schema/aop    
    http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
    <!-- 
    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.hu.data.dao.UserDao" />
    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
     -->
    <bean id="annocationUserDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.hu.data.dao.AnnocationUserDao" />
    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="chatinfoDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="org.hu.data.dao.ChatinfoDao" />
    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
</beans> 